PORT=3000

# Webhook on the teams page (ticket_message.created, ticket_attachment.created)
GMODSTORE_SECRET=

# https://www.gmodstore.com/settings/personal-access-tokens (ticket:read, ticket-messages:write)
GMODSTORE_API_AUTH=

# Cheap as chips OP API
# https://aistudio.google.com/apikey
GEMINI_API_KEY=

YOUR_GMODSTORE_ID=

# leave these empty to disable they are for local testing
NGROK_AUTHTOKEN=
NGROK_DOMAIN=